<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syf.papermanager.mapper.PaperTagMapper">
    <select id="selectByTagId" parameterType="java.lang.Integer" resultType="com.syf.papermanager.bean.entity.PaperTag">
        SELECT paper_id, creator_id, create_time, update_time
        FROM paper_tag
        WHERE tag_id = #{tagId}
    </select>
    <select id="selectAssociatedPaper" parameterType="java.lang.Integer" resultType="com.syf.papermanager.bean.entity.Paper">
        SELECT id, file_path FROM paper INNER JOIN
            (SELECT paper_id FROM paper_tag WHERE tag_id = #{tagId}) b
        ON paper.id = b.paper_id
    </select>
    <select id="selectAssociatedTagNumber" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM paper_tag
        WHERE paper_id = #{paperId}
    </select>
</mapper>