<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syf.papermanager.mapper.TagMapper">
    <select id="selectMaxOrder" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT MAX(inner_order) FROM tag WHERE father_id = #{fatherId}
    </select>
    <select id="selectChildrenIds" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT id FROM tag WHERE father_id = #{fatherId} and state = 0
    </select>
    <select id="selectRootTag" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT id FROM tag WHERE theme_id = #{themeId} and father_id = 0 LIMIT 1
    </select>
</mapper>