<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syf.papermanager.mapper.ThemeOperationMapper">
    <select id="selectRemovedTag" resultType="com.syf.papermanager.bean.dto.TagOperationDTO">
        SELECT u.username, u.avatar, a.name, a.tag_id, a.create_time
        FROM user u INNER JOIN
        (SELECT op.operator_id, t.name, t.id as tag_id, op.create_time
        FROM theme_operation op INNER JOIN
        (SELECT * FROM tag WHERE state = #{state} AND theme_id = #{themeId}) t
        ON op.tag_id = t.id AND op.create_time = t.update_time WHERE op.type = 2
        ) a
        ON a.operator_id = u.id ORDER BY create_time DESC
    </select>
    <select id="selectOperations" resultType="com.syf.papermanager.bean.dto.TagOperationDTO">
        SELECT username, avatar,b.type, b.name, b.create_time
        FROM user u INNER JOIN
            (
                SELECT op.tag_id, t.name,op.type, op.operator_id, op.create_time
                FROM theme_operation op INNER JOIN tag t
                ON op.tag_id = t.id
                WHERE op.theme_id = #{themeId}
            ) b
        ON u.id = b.operator_id ORDER BY b.create_time DESC
    </select>
    <delete id="deleteByTagId" parameterType="java.lang.Integer">
        DELETE FROM theme_operation WHERE tag_id = #{tagId}
    </delete>
</mapper>