<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syf.papermanager.mapper.ThemeOperationMapper">
    <select id="selectRemovedTag" resultType="com.syf.papermanager.bean.dto.TagOperationDTO">
        SELECT username, avatar, b.tag_id, b.name, b.create_time
        FROM user u INNER JOIN
            (
                SELECT op.tag_id, t.name, op.operator_id, op.create_time
                FROM theme_operation op INNER JOIN tag t
                ON op.tag_id = t.id
                WHERE op.theme_id = #{themeId} and t.state = #{state} and op.type = 2
                ORDER BY op.create_time DESC LIMIT 1
            ) b
        ON u.id = b.operator_id ORDER BY b.create_time DESC
    </select>
    <select id="selectOperations" resultType="com.syf.papermanager.bean.dto.TagOperationDTO">
        SELECT username, avatar,b.type, b.name, b.create_time
        FROM user u INNER JOIN
            (
                SELECT op.tag_id, t.name,op.type, op.operator_id, op.create_time
                FROM theme_operation op INNER JOIN tag t
                ON op.tag_id = t.id
                WHERE op.theme_id = #{themeId}
            ) b
        ON u.id = b.operator_id ORDER BY b.create_time DESC LIMIT 10
    </select>
</mapper>